
header {
    position: fixed;
    background: #FF6666;
    width: 100%;
    top: 0;
}
body{
	background-color: #666633; 
}
.navBar{
    background-color: #FF6666;
    height: 100%;
    margin: 0;
    padding: 30px
}
a{
    font-size: 20px;
    color: whitesmoke;
    padding: 10px;
    text-decoration: underline;
}
a:hover{
    color: #666633;
}
.contenedor{
    background-color:#666633;
    height: 100%;
    width: 100%;
}
.imagen{
    margin-left: 3%;
    display: inline-block;
    background: #6E6E6E;
    width: 200px;
    height: 200px;
    padding: 3px;
}
.panda{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.botones{
	background-color: #666633;
	align-content: center;
}

button{
	background-color: #FF6666;
	text-align: center;
	margin-top: 15px;
	padding: 20px 10px
	
}